*{
    margin: 0;
    padding: 0;
}
.container{
   
    padding: .625rem;
}

p,h2{
    display: flex;
    text-align:start;
    padding: .1875rem;
}

.navbar {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 1.5rem;
}

footer {
    padding: 1rem;
    background-color: #f8f9fa;
    text-align: center;
    width: 100%;
}

